.outer {
  position: relative;
  display: inline-flex;
  align-items: stretch;
}

.inner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  border: none;
}
